<div class="container custom-container-2">

  <!-- Show it when there is no empresa -->
  <div class="no-data text-center" *ngIf="Empresa.length == 0">
    <p>Aun no hay ninguna no empresa activa!</p>
    <button class="btn btn-outline-primary" routerLink="/create-empresa">Agregar Nueva Empresa</button>
  </div>

  <!-- Empresa list table, it hides when there is no empresa -->
  <div *ngIf="Empresa.length !== 0">
    <h3 class="mb-3 text-center">Lista de Empresas</h3>

    <div class="col-md-12">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">Empresa Id</th>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Phone</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let empresa of Empresa">
            <td>{{empresa.id}}</td>
            <td>{{empresa.name}}</td>
            <td>{{empresa.email}}</td>
            <td>{{empresa.phone}}</td>
            <td>
              <span class="edit" routerLink="/empresa-edit/{{empresa.id}}">Edit</span>
              <span class="delete" (click)="deleteEmployee(empresa.id)">Delete</span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

  </div>

</div>
